<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Java Application"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/scenario/model/ScenarioSimple.xmi"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/scenario.m2t/results"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/scenario.m2t/src/scenario/m2t/common/ToHTML.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="scenario.m2t.common.ToHTML"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/home/vdrouinv/workspace-projet/scenario/model/ScenarioSimple.xmi&quot; &quot;/home/vdrouinv/workspace-projet/scenario.m2t/results&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="scenario.m2t"/>
</launchConfiguration>
